# LP2- Vodafone Churn Analysis Project
# Business Understanding
## Overview

This project focuses on analyzing and predicting customer churn in a telecom organisation known as vodaphone. The goal is to develop a robust churn prediction model that can assist in determining which customer will remain with the company and which will leave. It also tries to predict the reason to determine whether the custoers will churn or not. The dataset provided has been divided into three parts the train dataset, evaluation dataset and the test dataset. 

## Table of Contents

- [Introduction](#introduction)
- [Project Data structure](#project-Data-Structure)
- [Project Hypothesis](#Hypothesis)
- [Analytical Questions](#Analytical-Questions)
- [Evaluation](#evaluation)
- [Dependencies](#dependencies)
- [Contributing](#contributing)
- [License](#license)

## Introduction

Customer attrition, is a substantial expense for any organization. It represents the percentage of customers who cease using a company's product or service within a specified timeframe. For instance, suppose a business started the quarter with 800 customers and ended with 760 customers. In this case, the customer churn rate would be 5%.

Understanding why customers leave and identifying when they do so accurately can significantly benefit the organization in refining its retention strategies. This project aims to assess the likelihood of a customer leaving the organization, pinpoint key indicators of churn, and propose effective retention strategies to counteract this issue. The objective is to provide insights that empower the organization to proactively address customer attrition, optimizing its efforts to retain valuable customers.

### Importance of this project to every Organisation
Addressing customer attrition is of paramount importance for businesses, and here are -3- key reasons why it should be a focal point in strategic planning:

1. Revenue Protection: Retaining existing customers is more cost-effective than acquiring new ones, safeguarding established revenue streams and ensuring sustained profitability.

2. Customer Lifetime Value (CLV): Addressing attrition maximizes the long-term value of customers, representing the total revenue a business can expect over the duration of their relationship.

3. Brand Reputation and Loyalty: Effective attrition management enhances brand reputation, fosters customer loyalty, and provides a competitive advantage in the market.

## Project Data Structure

### I. Data Collection and Analysis

A. First Dataset - Customer Churn Data

The initial dataset comprises the first 3000 records of customer churn data from company records.
The data is stored in a remote database, requiring a connection to the Microsoft SQL Server database using Open Database Connectivity (ODBC) or an Object-Relational Mapping (ORM) library like SQLAlchemy.
The established connection facilitates database querying and retrieval of the initial 3000 records.

B. Second Dataset - CSV File with 2000 Records
The second dataset is a CSV file containing 2000 records.
No additional connection is required for this dataset, simplifying the data retrieval process.

C. Third Dataset - Test Dataset. 
The test dataset, integral to project evaluation, is also in CSV format.

The following describes the columns present in the data.

Gender -- Whether the customer is a male or a female

SeniorCitizen -- Whether a customer is a senior citizen or not

Partner -- Whether the customer has a partner or not (Yes, No)

Dependents -- Whether the customer has dependents or not (Yes, No)

Tenure -- Number of months the customer has stayed with the company

Phone Service -- Whether the customer has a phone service or not (Yes, No)

MultipleLines -- Whether the customer has multiple lines or not

InternetService -- Customer's internet service provider (DSL, Fiber Optic, No)

OnlineSecurity -- Whether the customer has online security or not (Yes, No, No Internet)

OnlineBackup -- Whether the customer has online backup or not (Yes, No, No Internet)

DeviceProtection -- Whether the customer has device protection or not (Yes, No, No internet service)

TechSupport -- Whether the customer has tech support or not (Yes, No, No internet)

StreamingTV -- Whether the customer has streaming TV or not (Yes, No, No internet service)

StreamingMovies -- Whether the customer has streaming movies or not (Yes, No, No Internet service)

Contract -- The contract term of the customer (Month-to-Month, One year, Two year)

PaperlessBilling -- Whether the customer has paperless billing or not (Yes, No)

Payment Method -- The customer's payment method (Electronic check, mailed check, Bank transfer(automatic), Credit card(automatic))

MonthlyCharges -- The amount charged to the customer monthly

TotalCharges -- The total amount charged to the customer

Churn -- Whether the customer churned or not (Yes or No)

## Hypothesis

#### Hypothesis 1: Pricing Sensitivity:

    i. Null Hypothesis (H0): There is no significant relationship between the pricing structure (monthly charges, total charges) and customer churn.

    ii. Alternative Hypothesis (H1): Customers with higher monthly charges or total charges are more likely to churn.

#### Hypothesis 2: Service Utilization Impact

    i. Null Hypothesis (H0): The utilization of additional services (e.g., online security, streaming TV) has no effect on customer churn.
    ii. Alternative Hypothesis (H1): Customers who use more additional services are less likely to churn.

## Analytical Questions:

#### Question 1: Demographic Analysis
	i. What is the distribution of churn across different demographic segments (e.g., age groups, gender, senior citizens)? 
	ii. Are there specific demographics more prone to churn?

#### Question 2: Contract Duration Impact
	i. How does the length of customer contracts correlate with churn? 
	ii. Are customers on month-to-month contracts more likely to churn compared to those on longer-term contracts?

#### Question 3: Interaction with Customer Support
	i. Does the frequency and effectiveness of customer support interactions influence churn? 
	ii. Are customers who engage with customer support more likely to stay with the service?

#### Question 4: Service Reliability
	i. How does the reliability of services (e.g., internet, phone) impact churn? 		
	ii. Are customers experiencing frequent service disruptions more likely to churn?

#### Question 5: Contract and Billing Analysis
    i. How do different billing and contract-related factors, such as paperless billing and payment methods, correlate with churn? 
    ii. Are customers who opt for paperless billing or specific payment methods more or less likely to churn?

In [8]:
# Importing the neccessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
sns.set_style('whitegrid')
sns.set_context('poster')
import sklearn
import imblearn
import xgboost as xgb
import dotenv
import scipy.stats as stats
import random
import pickle

ModuleNotFoundError: No module named 'dotenv'

In [12]:
data_1 = pd.read_csv('C:\\Users\\USER\\Desktop\\Project_Portfolio\\Project_Portfolio\\Telco_churn\\Telco-churn-first-3000.csv')
data_1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [13]:
data_2 = pd.read_csv('C:\\Users\\USER\\Desktop\\Project_Portfolio\\Project_Portfolio\\Telco_churn\\Telco-churn-second-2000.csv')
data_2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [14]:
data_1.describe()

            tenure  MonthlyCharges  TotalCharges
count  3000.000000     3000.000000   2995.000000
mean     32.527333       65.347400   2301.278315
std      24.637768       30.137053   2274.987884
min       0.000000       18.400000     18.799999
25%       9.000000       35.787499    415.250000
50%      29.000000       70.900002   1404.650024
75%      56.000000       90.262501   3868.725098
max      72.000000      118.650002   8564.750000

In [15]:
data_2.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    2000.000000  2000.000000     2000.000000
mean        0.161500    31.853000       63.933325
std         0.368084    24.632677       30.136858
min         0.000000     0.000000       18.250000
25%         0.000000     8.000000       34.250000
50%         0.000000    27.000000       69.800000
75%         0.000000    55.000000       89.275000
max         1.000000    72.000000      118.750000

In [16]:
data_3 = pd.read_csv('C:\\Users\\USER\\Desktop\\Project_Portfolio\\Project_Portfolio\\Telco_churn\\LP2_Telco-churn-last-2000.csv')
data_3.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [17]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [18]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [19]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [20]:
data_1.shape

(3000, 21)

In [21]:
data_2.shape

(2000, 20)

In [22]:
data_3.shape

(2043, 21)

In [23]:
data_1.dtypes

customerID           object
gender               object
SeniorCitizen          bool
Partner                bool
Dependents             bool
tenure                int64
PhoneService           bool
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling       bool
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [24]:
data_1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [30]:

# Replace boolean values with 0 and 1
data_1['SeniorCitizen'] = data_1['SeniorCitizen'].replace({False: 0, True: 1})
data_1['Partner'] = data_1['Partner'].replace({False: 0, True: 1})
data_1['Dependents'] = data_1['Dependents'].replace({False: 0, True: 1})
data_1['PhoneService'] = data_1['PhoneService'].replace({False: 0, True: 1})
data_1['MultipleLines'] = data_1['MultipleLines'].replace({False: 0, True: 1})
data_1['OnlineSecurity'] = data_1['OnlineSecurity'].replace({False: 0, True: 1})
data_1['PaperlessBilling'] = data_1['PaperlessBilling'].replace({False: 0, True: 1})
data_1['Churn'] = data_1['Churn'].replace({False: 0, True: 1})

# Display the DataFrame after replacement
print(data_1.head())

   customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0  7590-VHVEG  Female              0        1           0       1
1  5575-GNVDE    Male              0        0           0      34
2  3668-QPYBK    Male              0        0           0       2
3  7795-CFOCW    Male              0        0           0      45
4  9237-HQITU  Female              0        0           0       2

   PhoneService  MultipleLines InternetService  OnlineSecurity  ...  \
0             0            NaN             DSL             0.0  ...
1             1            0.0             DSL             1.0  ...
2             1            0.0             DSL             1.0  ...
3             0            NaN             DSL             1.0  ...
4             1            0.0     Fiber optic             0.0  ...

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0            False       False       False           False  Month-to-month
1             True       False       False           False        One year
2            False       False       False           False  Month-to-month
3             True        True       False           False        One year
4            False       False       False           False  Month-to-month

  PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                1           Electronic check      29.850000     29.850000
1                0               Mailed check      56.950001   1889.500000
2                1               Mailed check      53.849998    108.150002
3                0  Bank transfer (automatic)      42.299999   1840.750000
4                1           Electronic check      70.699997    151.649994

   Churn
0    0.0
1    0.0
2    1.0
3    0.0
4    1.0

[5 rows x 21 columns]

In [31]:
data_1.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines       float64
InternetService      object
OnlineSecurity      float64
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn               float64
dtype: object

In [32]:
data_1.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [33]:
data_2.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [35]:
data_1['customerID'].unique()

array(['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', ..., '1891-FZYSA',
       '4770-UEZOX', '1A1:U3001038-RQOST'], dtype=object)

In [36]:
data_1['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [37]:
data_1.describe()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
count,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000,2731.000000,2349.000000,3000.000000,3000.000000,2995.000000,2999.000000
mean,0.158333,0.487333,0.31000,32.527333,0.910333,0.473819,0.370796,0.592000,65.347400,2301.278315,0.260087
std,0.365114,0.499923,0.46257,24.637768,0.285751,0.499406,0.483121,0.491545,30.137053,2274.987884,0.438755
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,18.400000,18.799999,0.000000
25%,0.000000,0.000000,0.00000,9.000000,1.000000,0.000000,0.000000,0.000000,35.787499,415.250000,0.000000
50%,0.000000,0.000000,0.00000,29.000000,1.000000,0.000000,0.000000,1.000000,70.900002,1404.650024,0.000000
75%,0.000000,1.000000,1.00000,56.000000,1.000000,1.000000,1.000000,1.000000,90.262501,3868.725098,1.000000
max,1.000000,1.000000,1.00000,72.000000,1.000000,1.000000,1.000000,1.000000,118.650002,8564.750000,1.000000